*{
    padding:0;
    margin:0
}

.logo{
    width: 600px;
    height:250px;
    display:block;
}
.nav1
.nav2{
    font-family: 'Philosopher', sans-serif;
}

/* 

font-family: 'Roboto', sans-serif; */